.chat-input-container {
  width: 100%;
  display: flex;
}

.chat-input-text {
  flex-grow: 1;
  padding: 10px 5px;
  border-radius: 10px;
}

.chat-input-text::placeholder {
  font-size: 14px;
}

.chat-send-button {
  width: 60px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(10, 133, 75);
  color: aliceblue;
  font-weight: bold;
}

.chat-send-button:hover {
  box-shadow: 0 0 15px rgb(10, 133, 75);
  transform: scale(1.05);
  transition: 0.3s ease;
}