.chat-input-container {
  width: 100%;
  display: flex;
  margin: 10px;
}

.chat-input-text {
  flex-grow: 1;
  padding: 10px 5px;
  border-radius: 10px;
}

.chat-send-button {
  width: 70px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(10, 133, 75);
}