.chat-app-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 550px;
  height: 99vh;
  padding: 0px 10px;
}

.chat-messages-container {
  flex-grow: 1;
  overflow: scroll;
  margin-bottom: 10px;
}

@supports (scrollbar-width: none) {
  .chat-messages-container {
    scrollbar-width: none;
  }
}
.chat-input-button-container {
 margin-top: auto;
}